/* header */
/* .header-items__logo {
    width: 100%;
} */
header {
    padding: 20px;
}

.header-items__logo img {
    max-width: 150px;
}

/* .header-items {
    display: inline-flex;
    width: 100%;
    padding: 10px 0;
} */

/* .header-item:not(:first-child) {
    width: 33%;
    text-align: end;
} */

.header-items__time-popup,
.header-items__user-popup {
    position: absolute;
    display: none;
    z-index: 999;
    background-color: #ffff;
    /* margin-top: 100px; */
}

.header-items__user-popup {
    margin-left: 58px;
    text-align: end;
}

.header-items__show {
    display: flex;
}

.header-items__show div {
    padding: 5px;
    white-space: nowrap;
}

.header-items__time-popup__pause-time {
    display: none;
}

.header-items__user-img {
    /* max-height: 50px; */
    max-width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.header-items__user-img img {
    width: 100%;
    height: 100%;
}

.header-items__user-name,
.header-items__user-img {
    margin: auto;
}

.header-items__user-name p {
    margin: 0;
}

.disable {
    display: none;
}


.active {
    display: block;
}

/* main */

/* .main-content {
    display: flex;
    width: 100%;
} */

.main-content__navigation {
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.8em;
}

/* .main-content__content {
    width: 80%;
} */