/* header */
.header-items__logo {
    width: 100%;
}

.header-items__logo img {
    max-width: 150px;
}

.header-items {
    display: inline-flex;
    width: 100%;
}

.header-item:not(:first-child) {
    width: 33%;
    text-align: end;
}

.header-items__time-popup,
.header-items__user-popup {
    position: absolute;
    display: none;
    /* margin-top: 100px; */
}

.header-items__time-popup {
    margin-left: -65px;
}

.header-items__user-popup {
    margin-left: 80px;
}

.disable {
    display: none;
}


.active {
    display: block;
}