/* news */

.main-content__content__news h2 {
    text-align: center;
}

.main-content__content__news-item {
    margin-bottom: 25px;
}

/* .main-content__content__news-item_image img {
    width: 100%;
} */

.main-content__content__news-item_description {
    overflow: hidden;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
    padding-bottom: 0;
}

.main-content__content__news-item_description p {
    margin: 0 0 0 0;
}

/* .main-content__content__news-item:not(:last-child) {
    margin-bottom: 20px;
} */

.main-content__content__news-title {
    display: flex;
}

.align-end {
    text-align: end;
}

.main-content__content__news-item_button {
    padding: .75rem 1.25rem 1.25rem;
}

/* create news */

form div {
    width: 100%;
}

.item-size {
    width: 100%;
}
.main-content__content__add-news__button, .main-content__content__edit-news__button{
    margin-top: 20px;
}
.image-withot-border{
    border: none;
}

/* one news */

.main-content__content__all-news-item {
    line-height: 20px;
}

.main-content__content__all-news-item_image img {
    width: 100%;
}

.main-content__content__all-news-item_description {
    text-indent: 20px;
    text-align: justify;
    margin: 15px 0;
}
.main-content__content__all-news__edit{
    float: right;
}