@font-face {
    font-family: Geometria-Medium;
    src: url(/public/fonts/10262.otf);
}

a {
    color: #268b8c;
}

a:hover {
    color: #175959;
}

.btn-primary {
    background: #237576;
    border-color: #237576;
}

.btn-primary:hover{
    background: #268b8c !important;
    border-color: #268b8c !important;
}
.btn-primary:focus{
    background: #268b8c !important;
    border-color: #268b8c !important;
}

.btn-primary:active{
    background: #268b8c !important;
    border-color: #268b8c !important;
}


/* container */
/* .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
} */